<!DOCTYPE html>
<html>

<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="/css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.5/datatables.min.css" />
  <script src="/jquery"></script>
</head>

<body>
  <Section>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/images/bblogo.png" width="60" alt=""></a>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search Movie" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/profile">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/movielist">Movie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/userlist">User</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-sm btn-outline-success" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </Section>